/* Default navbar styles */
.nav {
  background-color: #F5F0E1; /* Original navbar background */
  padding: 10px 20px;  /* Adjusted padding: 10px top and bottom, 20px left and right */
  transition: background-color 0.3s ease;
}

.navItemsContainer {
  display: flex;
  justify-content: space-between; /* Spread the logo and links */
  align-items: center;
  width: 100%;
}

.linkContainer {
  display: flex;
  justify-content: flex-end; /* Align links to the right */
  gap: 40px; /* Adds space between the links */
  align-items: center;
}

.link {
  text-decoration: none;
  color: #7B3F00; /* Original text color */
  font-size: 22px;
  transition: color 0.3s ease;
}

.logo {
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto; /* Center the logo */
  font-size: 24px;
  font-weight: bold;
  padding-top: 15px; /* Adjust top padding */
  padding-bottom: 5px; /* Reduce bottom padding */
  transition: color 0.3s ease;
}

/* Hover effects */
.nav:hover {
  background-color: #78866B; /* Background color changes on hover */
}

.link:hover, .logo:hover {
  color: green; /* Text turns green on hover */
}

