/* Default navbar styles */
.nav {
  background-color: #F5F0E1;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}

.navItemsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.linkContainer {
  display: flex;
  justify-content: flex-end;
  gap: 40px;
  align-items: center;
}

.link {
  text-decoration: none;
  color: #7B3F00;
  font-size: 22px;
  transition: color 0.3s ease;
}

.logo {
  width: auto; /* Ensure the width adjusts automatically */
  height: 90px; /* Set a fixed height to prevent it from being smushed */
  max-width: 140%; /* Ensures it doesn't overflow the container */
  object-fit: contain; /* Maintains the aspect ratio */
  display: block;
  margin: 0 auto; /* Center the logo */
}

/* Hamburger Styles */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.hamburger span {
  width: 30px;
  height: 3px;
  background-color: #7B3F00;
  border-radius: 2px;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .linkContainer {
    display: none;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 50px;
    right: 10px;
    background-color: #F5F0E1;
    padding: 10px;
    z-index: 1000;
  }

  /* Show nav links when active */
  .linkContainer.active {
    display: flex;
  }

  .hamburger {
    display: flex;
  }
}
